*.o
md
cpp
Makefile
aux-output.c
cccp
config.h
config.status
cpp
genattr
hconfig.h
insn-attr.h
stamp-attr
tconfig.h
tm.h
bc-arity.h
bc-opcode.h
bc-opname.h
bi-arity
bi-opcode
bi-opname
cc1
genattrtab
gencodes
genconfig
genemit
genextract
genflags
genopinit
genoutput
genpeep
genrecog
insn-attrtab.c
insn-codes.h
insn-config.h
insn-emit.c
insn-extract.c
insn-flags.h
insn-opinit.c
insn-output.c
insn-peep.c
insn-recog.c
stamp-attrtab
stamp-bcarity
stamp-bcopcode
stamp-bcopname
stamp-codes
stamp-config
stamp-emit
stamp-extract
stamp-flags
stamp-opinit
stamp-output
stamp-peep
stamp-recog
xgcc